content {
  width: 300px;
  background: var(--black-color);
  min-height: 400px;
  color: #fff;
}

li {
  background: var(--blue-color);
  padding: 8px 12px;
  display: block;
}

ul {
  padding: 0;
  margin: 0;
}
