h1, h2, h3, h4, h5, h6 {

}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

span {
    display: flex;
}

span[|color='black'] {
    color: var(--black-color)
}

span[|color='grey'] {
    color: var(--grey-text-color)
}

span[|size='m'] {
    font-size: 10pt;
}