content {
    background: var(--white-color);
    color: var(--black-color);
    width: 200px;
    height: 38px;
    position: relative;
    border: 1px solid var(--grey--color);
}

content[|fieldSize='b'] {
    width: 248px;
}

content[|fieldSize='m'] {
    width: 148px;
}

content[|fieldSize='s'] {
    width: 100px;
}

span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
}

button {
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    font-size: 10pt;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button:focus {
    outline: 1px solid var(--blue-color);
}

button[aria-expanded] + ul {
    display: block;
}

ul {
    display: none;
    list-style: none;
    padding: 0;
    position: absolute;
    z-index: 100;
    width: 100%;
    margin-top: 8px;
    border: 1px solid var(--grey-glow--color);
}

ul:focus {
    outline: none;
}

li {
    background: var(--white-color);
    color: var(--black-color);
    height: 38px;
    line-height: 38px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 8px;
    font-size: 8pt;
}

li + li {
    border-top: 1px solid var(--grey-glow--color);
}

li:hover {
    background: var(--grey-active-color);
}

.fas {
    pointer-events: none;
}