ul {
    padding: 0;
    margin: 0 0 0 12px;
    background: var(--grey-active-color);
}

li[|hasList] {
    cursor: pointer;
    background: var(--grey-glow--color)
}

li[|hasList] > span:hover {
    background: var(--grey-color);
}

li {
    list-style: none;
}

span {
    display: block;
    padding: 4px 8px;
}