content {
  width: 200px;
}

input[|isValid='false'] {
  border-color: var(--red-error-color);
}

ComponentsGroup[type='inputView'] {
  width: 100%;
  height: 38px;
  display: flex;
}

content[|size='s'] {
  width: 100px;
}

content[|size='m'] {
  width: 148px;
}

content[|size='l'] {
  width: 200px;
}

content[|size='xl'] {
  width: 400px;
}

input[|icon='true'] {
  width: calc(100% - 38px);
}

input {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  font-size: 12pt;
  padding: 0 8px;
  outline: none;
  border: 1px solid var(--grey-color);
  display: block;
}

input:focus {
  box-shadow: none;
  border: 1px solid var(--blue-color);
}
