body, html {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #eaeaea;
}

a {
    color: #fff;
    text-decoration: none;
}
h2, h1 {
    font-weight: 600;
    color: #3c3c3c;
    width: 100%;
}

@keyframes bounceIn{
    0%{
        opacity: 0;
        transform: scale(0.3) translate3d(0,0,0);
    }
    50%{
        opacity: 0.9;
        transform: scale(1.1);
    }
    80%{
        opacity: 1;
        transform: scale(0.89);
    }
    100%{
        opacity: 1;
        transform: scale(1) translate3d(0,0,0);
    }
}

.section {
    display: flex;
    justify-content: center;
    width: 100%;
}

.section--new_vacancies {
    background: #e0e0e0;
}