.header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: url('https://i.hh.ru/css/globals/blocks/supernova/images/bg-employer-3__min_.jpg');
  background-size: 100%;
}

.header-left {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-logo {
  padding: 25px;
  display: flex;
  font-weight: bold;
  align-items: flex-end;
  text-shadow: 0 0 6px #6f6f6f;
}

.header-logo--first_letter {
  color: white;
  font-size: 35pt;
}

.header-logo--second_letter {
  color: #1a68cc;
  font-size: 25pt;
}

.header-logo--third_letter {
  color: white;
  font-size: 35pt;
}

.header-description {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 370px;
}

.header-description > h1 {
  text-shadow: 0 0 6px #676767;
  color: #fff;
  margin: 0;
  font-size: 35pt;
}

.header-description > h2 {
  text-shadow: 0 0 6px #676767;
  color: #f1f1f1;
  font-size: 20pt;
  font-weight: 400;
  margin: 20px;
}

.header-stats {
  width: 100%;
  display: flex;
  color: #fff;
}

.header-stat {
  padding: 25px;
}

.header-stat__bottom {
  font-size: 12pt;
}

.header-stat__top {
  font-size: 16pt;
}

.header-button {
  cursor: pointer;
  margin: 0 25px 0 0;
  border: 1px solid #1f61ab;
  background: #0000001f;
  color: #3896ff;
  text-transform: uppercase;
  font-size: 10pt;
  padding: 10px 10px;
  text-shadow: 0 0 1px #212121;
  border-radius: 20px;
}
